@import url("https://fonts.googleapis.com/css2?family=Bangers");

* {
    font-family: 'Bangers', cursive;
    font-size: 100%;
}

* {
    background-color: #fcb941;
}

hr {
    border: 0;
      clear: both;
      display: block;
      width: 100%;
      background-color: #111111;
      height: 3px;
    }

#topic {
    text-align: center;
    background-color: #ffcc6c;
}

.rectangle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.State {
    font-size: 50px;
    text-align: center;
    background-color: #57C9AE;
}

.rec1 {
    width: 200px;
    height: 300px;
    border: 5px solid #28364A;
    margin: 50px;
    background-color: #57C9AE;
}

.rec2 {
    width: 200px;
    height: 300px;
    border: 5px solid #28364A;
    margin: 50px;
    background-color: #57C9AE;
}

.rec3 {
    width: 200px;
    height: 300px;
    border: 5px solid #28364A;
    margin: 50px;
    background-color: #57C9AE;
}

.rec4 {
    width: 200px;
    height: 300px;
    border: 5px solid #28364A;
    margin: 50px;
    background-color: #57C9AE;
}

.sl {
    width: 200px;
    height: 300px;
    border: 5px solid #fcb941;
    margin: 50px;
    background-color: #fcb941;
}