@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.rectangle {
    width: 80px;
    height: 160px;
}
#rec1 {
    background-color: #0eaa00;
    margin: 0 25px;
}

#rec2 {
    background-color: #0eaa00;
    margin: 0 25px;
}

#rec3 {
    background-color: #0eaa00;
    margin: 0 25px;
}

#rec4 {
    background-color: #d1000a;
    margin: 0 25px;
}